/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~BLOG PAGE~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

  :root {
    --pegasus-blog-primary-color: #666666;
    --pegasus-blog-hover-color: #222;
    /* 5% lighter #0c0a22 */
  }

  #blog-categories li a,
  .pegasus-blog-options a:hover,
  .pegasus-blog-options a.pegasus-blog-selected,
  .pegasus-blog-title {
    color: var(--pegasus-blog-primary-color);
  }

  #blog-categories li a,
  .pegasus-blog-switcher  {
    border: 3px solid var(--pegasus-blog-primary-color);
  }

  .pegasus-blog-options {
    border-bottom: 3px solid var(--pegasus-blog-primary-color);
  }

  .pegasus-blog-add {
    background: var(--pegasus-blog-primary-color);
  }

  .pegasus-blog-add:hover {
    background: var(--pegasus-blog-hover-color);
  }

  #blog-list a {
    text-decoration: none;

  }

  #blog-categories { margin: 10px 0 20px; padding: 0; list-style-type: none; }
  #blog-categories li { display: inline-block; margin: 10px 0; }
  #blog-categories li a  {
    /* color: #231e61;
    border: 3px solid #231e61; */
    border-radius: 7px;
    padding: 5px 10px;
    font-weight: bold;
  }

  /* Main container */
  .pegasus-blog-switcher {
    padding: 20px;
    /* border: 3px solid #231e61; */
    margin-top: 20px;
  }

  /* options/select wrapper with switch anchors */
  .pegasus-blog-options {
    text-align: right;
    padding-bottom: 10px;
    /* border-bottom: 3px solid #231e61; */
  }

  .pegasus-blog-options a {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    color: #d0d0d0;
    margin: 2px;
  }

  /* .pegasus-blog-options a:hover,
  .pegasus-blog-options a.pegasus-blog-selected {
    color: #231e61;
  } */

  .pegasus-blog-options a:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
  }

  /* General style of switch items' list */

  .pegasus-blog-switcher ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Clear eventual floats */
  .pegasus-blog-switcher ul:before,
  .pegasus-blog-switcher ul:after {
    content: " ";
    display: table;
  }

  .pegasus-blog-switcher ul:after {
    clear: both;
  }

  .pegasus-blog-switcher ul li {
    display: block;
    position: relative;
  }

  .pegasus-blog-image {
    display: block;
    /* margin: 0 auto 10px; */
  }

  .pegasus-blog-image img {
    display: inline-block;
    max-width: 100%;
    border: none;
  }

  .pegasus-blog-title {
    margin: 0 0 0 10px;
    padding: 0;
    /* color: #231e61; */
  }

  .pegasus-blog-price {
    color: #c0c0c0 !important;
    font-size: 18px;
  }

  .pegasus-blog-price .post-categories { overflow: hidden; }

  .pegasus-blog-add {
    color: #fff;
    /* background: #231e61; */
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px 0 0;
    /* width: 100%; */
    display: inline-block;
    transition: background 0.2s;
  }

  .pegasus-blog-add:hover {
    color: #fff;
    /* background: #02639d; */
  }

  .pegasus-blog-add:before {
    margin-right: 5px;
  }

  /* Common icon styles */
  .pegasus-blog-icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .pegasus-blog-grid:before {
    content: "\f00a";
  }

  .pegasus-blog-list:before {
    content: "\f00b";
  }

  .pegasus-blog-add:before {
    content: "\f055";
  }

  /* Individual view mode styles */

  /* Large grid view */
  .pegasus-blog-view-grid ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .pegasus-blog-view-grid ul .blog-item-container {
    /* width: 33%; */
    flex: 0 1 19%;
    text-align: center;
    padding: 25px;
    margin: 20px 0 0;
    display: inline-block;
    min-height: 420px;
    vertical-align: top;
  }

  .pegasus-blog-view-grid .pegasus-blog-title {
    font-size: 2em;
    word-break: break-word;
  }

  .pegasus-blog-view-grid .pegasus-blog-details {
    max-width: 300px;
    min-height: 70px;
    margin: 0 auto;
  }

  .pegasus-blog-view-grid .pegasus-blog-price {
    margin: 10px 0;
    font-size: 1.5em;
  }


  /* List view */
  .pegasus-blog-view-list li {
    /* padding: 20px 0; */
    white-space: nowrap;
  }
  .pegasus-blog-view-list .blog-item-container { padding: 10px 0; }

  .pegasus-blog-view-list .pegasus-blog-image,
  .pegasus-blog-view-list .pegasus-blog-title,
  .pegasus-blog-view-list .pegasus-blog-details,
  .pegasus-blog-view-list .pegasus-blog-price,
  .pegasus-blog-view-list .pegasus-blog-add {
    display: inline-block;
    vertical-align: middle;
  }

  .pegasus-blog-view-list .pegasus-blog-image {
    /* width: 10%; */
  }

  .pegasus-blog-view-list .pegasus-blog-title {
    font-size: 1.3em;
    padding: 0 10px;
    white-space: normal;
    min-width: 100px;
    /* width: 23%; */
  }

  .pegasus-blog-view-list .pegasus-blog-price {
    font-size: 1.3em;
    /* width: 10%; */
  }

  .pegasus-blog-view-list .pegasus-blog-price a { display: block;  }

  .pegasus-blog-view-list .pegasus-blog-details {
    /* width: 40%; */
    padding: 0 15px;
    overflow: hidden;
    white-space: normal;
    min-width: 200px;
    width: 100%;
  }

  .pegasus-blog-view-list .pegasus-blog-add {
    margin: 0;
  }

  .pegasus-blog-image img { height: auto; }

  .pegasus-blog-view-list .pegasus-blog-add {
    height: 46px;
    margin-top: 15px;
  }

  #pegasus-blog.pegasus-blog-view-list article {
    display: flex;
  }


  @media only screen and (max-width: 575px) {
    .pegasus-blog-switcher { padding: 10px; }
    .pegasus-blog-view-list .pegasus-blog-add {
      padding: 5px 8px;
      height: 36px;
      margin-top: 0;
    }
    .pegasus-blog-view-list .pegasus-blog-title { min-width: auto; }
  }



/*
  table.pegasus-table {
    width: 100%;
    border-collapse: collapse;
  }

  table.pegasus-table th {
    background-color: #f1f1f1;
    text-align: left;
  }

  table.pegasus-table th,
  table.pegasus-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table.pegasus-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table.pegasus-table thead tr { background-color: #282828; }

  table.pegasus-table thead tr td { padding: 10px; }

  table.pegasus-table thead tr td span { color: white; }

  table.pegasus-table tbody tr:nth-child(0) { background-color: #cccccc; }

  table.pegasus-table tbody tr td { padding: 10px; }

  table.pegasus-table code { color: #d63384;}
  */

